<div class="contact-us-card grid grid--1x3">
  <div class="contactus-card">
    <div class="contact-us-cardimg icon-container icon-accent">
      <img
        class="icon"
        src="/asets/images/mdi_customer-service (1).svg"
        alt=""
      />
    </div>
    <div class="contact-us-cardbody">
      <h3 class="uscard-heading">Customer Service</h3>
      <p class="contactus-card-desc">Get in touch or track an order.</p>
    </div>
  </div>
  <div class="contactus-card">
    <div class="contact-us-cardimg icon-accent icon-container">
      <img class="icon" src="/asets/images/fa-solid_shipping-fast.svg" alt="" />
    </div>
    <div class="contact-us-cardbody">
      <h3 class="uscard-heading">Shipping & Returns</h3>
      <p class="contactus-card-desc">Learn about our shipping policies.</p>
    </div>
  </div>
  <div class="contactus-card">
    <div class="contact-us-cardimg icon-container icon-accent">
      <img class="icon" src="/asets/images/mdi_faq.svg" alt="" />
    </div>
    <div class="contact-us-cardbody">
      <h3 class="contactus-h3">Frequently Asked Questions</h3>
      <p class="contactus-card-desc">Get in touch or track an order.</p>
    </div>
  </div>
</div>
