<div class="feedback-header">
  <h2>Send Us A Message</h2>
  <p>For questions, comments or suggestions, please use this contact form.</p>
</div>
<form class="container feedback-form">
  <div class="form-container">
    <div class="form-group">
      <label for="firstName"></label>
      <input
        type="text"
        id="firstName"
        name="firstName"
        required
        placeholder="First Name"
      />
    </div>
    <div class="form-group">
      <label for="lastName"></label>
      <input
        type="text"
        id="lastName"
        name="lastName"
        required
        placeholder="Last Name"
      />
    </div>
    <div class="form-group">
      <label for="email"></label>
      <input
        type="email"
        id="email"
        name="email"
        required
        placeholder="Email Adress"
      />
    </div>
    <div class="form-group">
      <label for="phoneNumber"></label>
      <input
        type="tel"
        id="phoneNumber"
        name="phoneNumber"
        required
        placeholder="Phone Number"
      />
    </div>
    <div class="form-group big-box">
      <label for="inquiry"></label>
      <input
        type="text"
        id="inquiry"
        name="inquiry"
        required
        placeholder="Inquiry..."
      />
    </div>
  </div>
  <div class="form-btn">
    <button class="btn btn--accent">Send Message</button>
  </div>
</form>
