<footer class="footer">
  <div class="container grid grid--1x4">
    <div class="part1">
      <h2 class="logo">LOGO</h2>
      <p class="logo-description">Subscribe to get exclusive offers</p>
      <input type="email" class="input logo-input" placeholder="Email" />
      <br />
      <button class="btn btn--accent">Subscribe</button>
      <div class="footer-logos">
        <img
          class="fbook"
          src="/asets/images/Facebook-f_Logo-Blue-Logo.wine 1.svg"
          alt=""
        />
        <img
          class="fbook"
          src="/asets/images/instagram-seeklogo.com 1.svg"
          alt=""
        />
        <img class="fbook" src="/asets/images/pinterest.svg" alt="" />
      </div>
    </div>

    <div class="links">
      <h3 class="footer-heading">Quick Links</h3>
      <ul class="quick-links">
        <li class="footer-links"><a href="#">Home</a></li>
        <li class="footer-links"><a href="#">Shop Products</a></li>
        <li class="footer-links"><a href="#">Contact Us</a></li>
        <li class="footer-links"><a href="#">About Us</a></li>
      </ul>
    </div>
    <div class="links">
      <h3 class="footer-heading">Help</h3>
      <ul class="quick-links">
        <li class="footer-links"><a href="#">FAQs</a></li>
        <li class="footer-links"><a href="#">Term of Services</a></li>
        <li class="footer-links"><a href="#">Privacy Policy</a></li>
        <li class="footer-links"><a href="#">Shipping Policy</a></li>
        <li class="footer-links"><a href="#">Refunds/Returns Policy</a></li>
        <li class="footer-links"><a href="#">Reviews</a></li>
      </ul>
    </div>
    <div class="links">
      <h3 class="footer-heading">Contacts</h3>
      <ul class="quick-links">
        <li>
          <div class="media">
            <div class="media-logo">
              <img
                src="/asets/images/1071018_location_logo_media_pin_social_icon 1.svg"
                alt=""
              />
            </div>
            <div class="media-body">
              <a href="#">4000 Greenbriar Dr. Ste 200 Stafford, TX 77477</a>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media-logo">
              <img
                src="/asets/images/1078686_logo_media_phone_social_icon 1.svg"
                alt=""
              />
            </div>
            <div class="media-body">
              <a href="#">+1 (888) 888-8888</a>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media-logo">
              <img
                src="/asets/images/1011336_email_envelope_mail_message_send_icon 1.svg"
                alt=""
              />
            </div>
            <div class="media-body">
              <a href="#">support@airfiltersfactory.com</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</footer>
