<div class="part1">
  <h2 class="logo">LOGO</h2>
  <p class="logo-description">Subscribe to get exclusive offers</p>
  <input type="email" class="input logo-input" placeholder="Email" />
  <br />
  <button class="btn btn--accent">Subscribe</button>
  <div class="footer-logos">
    <img
      class="fbook"
      src="/asets/images/Facebook-f_Logo-Blue-Logo.wine 1.svg"
      alt=""
    />
    <img
      class="fbook"
      src="/asets/images/instagram-seeklogo.com 1.svg"
      alt=""
    />
    <img class="fbook" src="/asets/images/pinterest.svg" alt="" />
  </div>
</div>
