<div class="orderSummary-container">
  <h3>Order Summary</h3>
  <div class="plates">
    <img src="/asets/images/plate.svg" alt="" />
    <div>
      <p class="plate-type">Plate Type</p>
    </div>
    <p class="plate-price">$38.10</p>
  </div>
  <div class="plates">
    <img src="/asets/images/plate.svg" alt="" />
    <div>
      <p class="plate-type">Plate Type</p>
    </div>
    <p class="plate-price">$38.10</p>
  </div>
  <div class="border-bottom">
    <h3 class="left">SubTotal</h3>
    <p class="right">$97.74</p>
  </div>
  <br />
  <br />
  <div class="shipping-fee">
    <div class="border-bottom">
      <h3 class="left">Shipping fee</h3>
      <p class="shipping-price right">$12.00</p>
    </div>
    <br />
    <br />
    <div class="border-bottom">
      <h3 class="left">Estimated Total</h3>
      <p class="right">$109.74</p>
    </div>
  </div>
</div>
