<section>
  <div class="why-us">
    <h2 class="why-us-heading">Our Customer Service Team is Here to Help</h2>
    <div class="grid grid--1x4">
      <div class="why-us-card">
        <div class="why-us-icon icon-container icon-secondary service-icon">
          <img class="icon" src="/asets/images/cil_chat-bubble.svg" alt="" />
        </div>
        <h2 class="why-us-card-heading">Live Chat</h2>
        <p class="why-us-card-description">Chat Now!</p>
      </div>
      <div class="why-us-card">
        <div class="why-us-icon icon-container icon-secondary service-icon">
          <img
            class="icon"
            src="/asets/images/material-symbols_mark-email-read-outline.svg"
            alt=""
          />
        </div>
        <h2 class="why-us-card-heading">Live Chat</h2>
        <p class="why-us-card-description">info@filterbuy.com</p>
      </div>
      <div class="why-us-card">
        <div class="why-us-icon icon-container icon-secondary service-icon">
          <img class="icon" src="/asets/images/ic_baseline-phone.svg" alt="" />
        </div>
        <h2 class="why-us-card-heading">Call Us</h2>
        <p class="why-us-card-description">(855) 345-8289</p>
      </div>
      <div class="why-us-card">
        <div class="why-us-icon icon-container icon-secondary service-icon">
          <img class="icon" src="/asets/images/uil_facebook-f.svg" alt="" />
        </div>
        <h2 class="why-us-card-heading">Facebook</h2>
        <p class="why-us-card-description">Message Us 24/7.</p>
      </div>
    </div>
  </div>
</section>
