<section class="container">
  <div class="products-header">
    <h2>See our products below</h2>
    <p class="products-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      temp incididunt ut labore et dolore magna aliqua.
    </p>
  </div>
  <div class="grid grid--1x4">
    <div class="card">
      <div class="image-container">
        <img src="/asets/images/plates.svg" alt="" />
      </div>
      <div class="text-container">
        <h3>Plates</h3>
        <button class="btn btn--accent">Buy now</button>
      </div>
    </div>
    <div class="card">
      <div class="image-container">
        <img src="/asets/images/plates.svg" alt="" />
      </div>
      <div class="text-container">
        <h3>Bowls</h3>
        <button class="btn btn--accent">Buy now</button>
      </div>
    </div>
    <div class="card">
      <div class="image-container">
        <img src="/asets/images/plates.svg" alt="" />
      </div>
      <div class="text-container">
        <h3>Cups</h3>
        <button class="btn btn--accent">Buy now</button>
      </div>
    </div>
    <div class="card">
      <div class="image-container">
        <img src="/asets/images/plates.svg" alt="" />
      </div>
      <div class="text-container">
        <h3>Utensils</h3>
        <button class="btn btn--accent">Buy now</button>
      </div>
    </div>
  </div>
  <div class="products-btn">
    <button class="btn btn--accent">See all products</button>
  </div>
</section>
