<section class="container">
  <h2 class="reviews-heading">What Our Clients Are Saying About Us</h2>
  <div class="grid grid--1x4">
    <div class="reviews-card">
      <div class="user-img">
        <img src="/asets/images/user.png" alt="User Image" />
      </div>
      <div class="user-details">
        <h2 class="user-name">Kelly Cranko</h2>
        <img class="user-name" src="/asets/images/stars.svg" alt="" />
      </div>
      <p class="user-review">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et metus
        nec justo bibendum aliquet.
      </p>
    </div>
    <div class="reviews-card">
      <div class="user-img">
        <img src="/asets/images/user.png" alt="User Image" />
      </div>
      <div class="user-details">
        <h2 class="user-name">Kelly Cranko</h2>
        <img class="user-name" src="/asets/images/stars.svg" alt="" />
      </div>
      <p class="user-review">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et metus
        nec justo bibendum aliquet.
      </p>
    </div>
    <div class="reviews-card">
      <div class="user-img">
        <img src="/asets/images/user.png" alt="User Image" />
      </div>
      <div class="user-details">
        <h2 class="user-name">Kelly Cranko</h2>
        <img class="user-name" src="/asets/images/stars.svg" alt="" />
      </div>
      <p class="user-review">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et metus
        nec justo bibendum aliquet.
      </p>
    </div>
    <div class="reviews-card">
      <div class="user-img">
        <img src="/asets/images/user.png" alt="User Image" />
      </div>
      <div class="user-details">
        <h2 class="user-name">Kelly Cranko</h2>
        <img class="user-name" src="/asets/images/stars.svg" alt="" />
      </div>
      <p class="user-review">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et metus
        nec justo bibendum aliquet.
      </p>
    </div>
  </div>
</section>
