<div class="search-bar-bg">
  <nav class="search-bar collapsible collapsible--expanded">
    <header class="container search-nav">
      <div class="company-logo">
        <img src="/asets/images/company-name.svg" alt="Company Logo" />
      </div>
      <div class="input-group">
        <input type="text" class="input" />
        <img class="search-icon" src="/asets/images/search.svg" alt="" />
      </div>
      <div class="search-toggler">
        <img src="/asets/images/chevron.svg" alt="" />
      </div>
      <div class="search-links">
        <ul class="search-list collapsible__content">
          <div class="call-link">
            <li>
              <div class="logo-flex">
                <div>
                  <img
                    class="search-logos"
                    src="/asets/images/call.svg"
                    alt=""
                  />
                </div>
                <div>
                  <a target="_blank" href="#" class="search-description"
                    >Available 24/7</a
                  >
                </div>
              </div>
            </li>
          </div>
          <li>
            <div class="logo-flex">
              <div>
                <img
                  class="search-logos"
                  src="/asets/images/account.svg"
                  alt=""
                />
              </div>
              <div>
                <a target="_blank" href="#" class="search-description"
                  >sign in Account</a
                >
              </div>
            </div>
          </li>
          <li>
            <div class="logo-flex">
              <div>
                <img class="search-logos" src="/asets/images/cart.svg" alt="" />
              </div>
              <div>
                <a target="_blank" href="#" class="search-description"
                  >view Cart</a
                >
              </div>
            </div>
          </li>
        </ul>
      </div>
    </header>
  </nav>
</div>
