<section>
  <div class="grid grid--1x2">
    <div class="testimonial1-img">
      <img src="/asets/images/testimonial2.png" alt="" />
    </div>
    <div class="testimonial2">
      <h2 class="testimonial2-heading">Why our Products?</h2>
      <p class="testimonial2-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        temp incididunt ut labore et dolore magna aliqua.
      </p>
      <div class="testimonial2-body">
        <h3>Eco-Friendly</h3>
        <p>
          Our disposable tableware is made out of sustainable, biodegradable
          materials, making our products eco-firendly
        </p>
        <h3>Chemical-free</h3>
        <p>
          The manufacturing of our products do not involve any chemical
          treatment. Our products are completly healthy, non-toxic and harmless.
        </p>
        <h3>Organic</h3>
        <p>
          Our products are made from natural, sustainable materials like corn
          starch and wood.
        </p>
      </div>
    </div>
  </div>
</section>
