<section>
  <div class="grid grid--1x2">
    <div class="testimonial3">
      <div class="testimonial2-body">
        <h1 class="testimonial3-heading">Custom Embossment</h1>
        <p class="testimonial3-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod temp incididunt ut labore et dolore magna aliqua.Lorem ipsum
          dolor sit amet, consectetur adipiscing elit, sed do eiusmod temp
          incididunt ut labore et dolore magna aliqua.
        </p>
        <span>
          <div class="testimonial3-btn">
            <button class="btn btn--accent">Shop Now</button>
          </div></span
        >
      </div>
    </div>
    <div class="testimonial1-img">
      <img src="asets/images/testimonial3.png" />
    </div>
  </div>
</section>
