<section>
  <div class="hero">
    <div class="testimonial1">
      <div class="testimonial1-body">
        <h1 class="testimonial1-heading">
          Healthy <br />
          Tableware
        </h1>
        <p class="testimonial1-description">
          From nature, feed back nature.
          <br />
          A Greener Choice for a Brighter Future!
        </p>
        <span>
          <div class="testimonial1-btn">
            <button class="btn btn--accent">Shop Now</button>
          </div></span
        >
      </div>
    </div>
    <div class="testimonial1-img"></div>
  </div>
</section>
