<div class="sidebar">
  <h3 class="sidebar-heading">Categories</h3>
  <ul class="categories-lists">
    <li><a class="list-name" href="#">Bowls</a></li>
    <li><a class="list-name" href="#">Containers</a></li>
    <li><a class="list-name" href="#">Cups</a></li>
    <li><a class="list-name" href="#">Trays</a></li>
    <li><a class="list-name" href="#">Bowls</a></li>
    <li><a class="list-name" href="#">Containers</a></li>
    <li><a class="list-name" href="#">Cups</a></li>
    <li><a class="list-name" href="#">Trays</a></li>
  </ul>
  <h3 class="sidebar-heading">Other Select</h3>
  <ul class="other-lists">
    <li><a class="list-name" href="#">Bowls</a></li>
    <li><a class="list-name" href="#">Containers</a></li>
    <li><a class="list-name" href="#">Cups</a></li>
    <li><a class="list-name" href="#">Trays</a></li>
    <li><a class="list-name" href="#">Bowls</a></li>
    <li><a class="list-name" href="#">Containers</a></li>
  </ul>
</div>
