<section>
  <div class="why-us">
    <h2 class="why-us-heading">Why us?</h2>
    <p class="why-us--description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      temp incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="grid grid--1x3">
      <div class="why-us-card">
        <div class="why-us-icon">
          <img src="/asets/images/fast.svg" alt="" />
        </div>
        <h2 class="why-us-card-heading">Fast Processing</h2>
        <p class="why-us-card-description">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been standard dummy text
        </p>
      </div>
      <div class="why-us-card">
        <div class="why-us-icon">
          <img src="/asets/images/call-acc.svg" alt="" />
        </div>
        <h2 class="why-us-card-heading">24/7 Customer Servcies</h2>
        <p class="why-us-card-description">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been standard dummy text
        </p>
      </div>
      <div class="why-us-card">
        <div class="why-us-icon">
          <img src="/asets/images/popular.svg" alt="" />
        </div>
        <h2 class="why-us-card-heading">Satisfaction Guaranteed</h2>
        <p class="why-us-card-description">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been standard dummy text
        </p>
      </div>
    </div>
  </div>
</section>
